@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: linear-gradient(135deg, white, #fff5f5);
}

#navbar {
  position: absolute;
  left: 7rem;
  top: 3.5rem;
}

#mainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 100vh;
}

#mainContainer #content1 {
  padding: 0 7rem 0 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#mainContainer #content1 #bigText {
  text-transform: uppercase;
  font-size: 3.5rem;
  letter-spacing: 1.2rem;
  font-weight: 600;
  color: #413a3a;
}

#mainContainer #content1 span {
  font-weight: 300;
  color: #ce9797;
}

#mainContainer #content1 #text {
  padding: 2rem 0;
  font-size: 16px;
  color: #ce9797;
  line-height: 1.8rem;
}

#mainContainer #content1 #inputContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
}

#mainContainer #content1 #inputContainer #inputEmail {
  width: 22rem;
  font-family: 'Josfin Sans', sans-serif;
  border: 1px solid #f96262;
  padding: 1rem 2rem;
  border-radius: 25px;
}

#mainContainer #content1 #inputContainer #inputEmail:focus-visible {
  outline: 1.5px solid #f96262;
}

#mainContainer #content1 #inputContainer button {
  position: absolute;
  left: 22rem;
  padding: 1rem 2rem;
  border-radius: 25px;
  border: none;
  background-color: #f3baba;
  cursor: pointer;
}

#mainContainer #content1 #inputContainer button:hover {
  -webkit-box-shadow: -2px 5px 10px 1px rgba(206, 151, 151, 0.808);
          box-shadow: -2px 5px 10px 1px rgba(206, 151, 151, 0.808);
}

#mainContainer #content1 #inputContainer button img {
  width: 70%;
}

#mainContainer #content2 {
  width: 100%;
  background: linear-gradient(135deg, rgba(248, 191, 191, 0.11), rgba(238, 140, 140, 0.116)), url("/images/hero-desktop.jpg") no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1200px) {
  #mainContainer #content1 #bigText {
    font-size: 3rem;
  }
  #mainContainer #content1 #text {
    font-size: 15px;
  }
  #mainContainer #content1 #inputContainer #inputEmail {
    width: 18rem;
  }
  #mainContainer #content1 #inputContainer button {
    left: 18rem;
  }
}

@media screen and (max-width: 970px) {
  #navbar {
    left: 5rem;
  }
  #mainContainer #content1 {
    padding: 0 5rem;
  }
  #mainContainer #content1 #bigText {
    font-size: 2.7rem;
  }
  #mainContainer #content1 #text {
    font-size: 13px;
  }
  #mainContainer #content1 #inputContainer #inputEmail {
    width: 15rem;
  }
  #mainContainer #content1 #inputContainer button {
    left: 15rem;
  }
}

@media screen and (max-width: 870px) {
  #navbar {
    position: initial;
    padding: 2rem;
  }
  #mainContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80vh;
  }
  #mainContainer #content1 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
  #mainContainer #content1 #bigText {
    font-size: 36px;
    text-align: center;
  }
  #mainContainer #content1 #text {
    text-align: center;
    padding-top: 10px;
  }
  #mainContainer #content2 {
    height: 100%;
  }
}
/*# sourceMappingURL=style.css.map */